@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}


.title {
  color: var(--color-purple);
  margin-bottom: 40px;
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 55%;
  display: block;
}


.aboutItems {
  color: var(--color-purple);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.aboutItem li {
  text-align: center;
}

.aboutItem h3 {
  font-size: 30px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 20px;
}

@media screen and (max-width: 830px) {
  .container {
    padding: 20px; /* Reduced padding */
    margin-top: 20px; /* Adjust the top margin if needed */
  }

  .content {
    flex-direction: column;
    align-items: center; 
  }

  .aboutImage {
    width: 80%; 
    margin-bottom: 20px; 
  }

  .aboutItems {
    width: 100%; 
    margin-top: 20px; 
  }

  .aboutItem {
    padding: 15px; 
    margin-bottom: 15px; 
  }

  .aboutItem h3 {
    font-size: 24px; 
  }

  .aboutItem p {
    font-size: 16px; 
  }

  .cursor, .server, .ui { 
    width: 30px; 
    height: auto; 
  }
}
