.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, var(--color-purple) 0%, var(--color-bkgd) 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 18px 24px;
  max-width: 345px;
  margin: auto; 
  color: var(--color-text); 
  font-family: var(--font-robot); 
}

.image {
  width: 100%; 
  border-radius: 10px; 
  margin-bottom: 20px;
}

.title {
  font-size: 30px; 
  font-weight: 700;
  margin-bottom: 10px; 
}

.description {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text); 
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px; 
  list-style: none;
  padding: 0; 
  margin-top: 15px; 
}

.skill {
  font-size: 14px; 
  font-weight: 500; 
  background: var(--color-dark);
  color: var(--color-text);
  border-radius: 100px;
  padding: 5px 15px; 
}

.links {
  display: flex;
  justify-content: space-between; 
  gap: 10px; 
  margin-top: 20px; 
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 16px;
  background: var(--color-primary);
  border-radius: 100px;
  padding: 10px 20px; 
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease; 
}

.link:hover {
  background: var(--color-secondary); 
}
