@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  font-family: var(--font-roboto); /* Ensuring the font-family is consistent */
}

.title {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center; /* Center-align the title for a balanced look */
  color: var(--color-text); /* Using the primary color for the title */
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* Center items on the main axis */
  gap: 15px;
}

/* Assuming you want a responsive layout for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    margin-left: 5%; 
    margin-right: 5%;
  }

  .title {
    font-size: 28px; 
  }

  .projects {
    justify-content: space-around; 
  }
}
